
body {
  font-family: 'Hepta Slab', serif;
  color: black;
  background-color: #F7F3F2;
}

header {
  background-color: #EB8E66;
  text-align: center;
  height: 100px;
  padding-top: 50px;
}

h1 {
  font-family: 'Lobster Two', cursive;
  color: rgb(3, 61, 109);
  font-size: 60px;
}

form {
  font-size: 15px;
  margin-top: 30px;
  padding: 15px;
  line-height: 25px;
  width: 200px;
  background-color: rgb(156, 248, 156);
}

form legend {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 20px;
}

form button {
  margin-top: 20px;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 25px;
}

form button:hover {
  background-color: #F65F5D;
  transition: 350ms;
}

table {
  font-family: 'Englebert', sans-serif;
  background-color: navy;
  color: white;
  border: 5px;
  border-style: double;
  margin: 30px;
  padding: 10px;
  width: 90%;
}

th, td {
  border: 1px solid white;
  border-top: 1px;
  border-bottom: 1px solid white;
  text-align: center;
  height: 100%;
  margin: 10px;
  padding: 10px;
}

nav {
  background-color: #F65F5D;
  width: auto;
}

nav img {
  height: 30px;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 10px;
}

nav ul li {
  display: inline-block;
  margin-left: 50px;
}

a {
  color: black;
}

a:link {
  float: left;
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 10px 10px;
}

li:hover {
  background-color: white;
}

#Chinook {
  height: 35px;
}

main {
  width: 1100px;
  margin: auto;
}

main h2 {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-top: 30px;
}

#shirt {
  width: 200px;
  text-align: left;
  overflow: hidden;
  margin-bottom: 20px;
}

main img {
  width: 300px;
}

main li {
  float: left;
  margin-left: 40px;
  padding-top: 40px;
}

main article {
  width: 50%;
  float: right;
}

article h2 {
  text-align: left;
  margin-top: 40px;
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
}

#Pat-Family {
  width: 400px;
  float: left;
  margin-left: 100px;
  padding-top: 40px;
}

article p {
  margin-top: 10px;
  padding-right: 100px;
  line-height: 20px;
}

section {
  clear: both;
  padding-top: 50px;
  line-height: 30px;
}

section h3 {
  font-family: 'Lobster Two', cursive;
  font-size: 20px;
  text-decoration: underline;
}

footer {
  background-color: #EB8E66;
  height: 100px;
  margin-top: 30px;
}
