
  body {
  width: 100%;
  padding: 10px;
  margin: 15px;
  background-color: #F7F3F2;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  background-color: #EB8E66;
  width: 95%;
  margin: 10px;
  padding: 5px;
}

table {
  background-color: white;
  border: 5px;
  border-style: double;
  border-collapse: collapse;
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 90%;
}

th, td {
  border: 1px solid black;
  border-top: 1px;
  border-bottom: 1px solid black;
  text-align: center;
  height: 100%;
  margin: 10px;
  padding: 10px;
}

img {
  height: 30px;
  margin-bottom: 15px;
}

nav ul {
  list-style-type: none;
  background-color: #F65F5D;
  width: 95%;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

a {
  color: black;
}

a:link {
  float: left;
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 10px 10px;
}

li:hover {
  background-color: white;
}